<div class="row min-vw-100 d-flex justify-content-center">
  <app-navbar class="min-vw-100" style="max-height: 4em; margin-bottom: 1em;"></app-navbar>
</div>
<div class="row">
  <app-info-bar class="min-vw-100 d-flex justify-content-center"></app-info-bar>
</div>
<!--Formulario-->
<div class="row mh-50 h-50 d-flex justify-content-center align-center">
  <div class="col-10 d-flex flex-column justify-content-center">
    <div>
      <h3>Crear Moderador</h3>
    </div>
    <!--Campos del formulario-->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column justify-content-center">
      <div class="mb-3">
        <input class="form-control" formControlName="name" type="text" placeholder="Nombre de moderador...">
      </div>
      <div class="mb-3">
        <input class="form-control" formControlName="real_name" type="text" placeholder="Nombre real...">
      </div>
      <div class="mb-3">
        <input class="form-control" formControlName="email" type="text" placeholder="E-mail...">
      </div>
      <div class="mb-3">
        <input class="form-control" formControlName="password" type="password" placeholder="Confirme la contraseña...">
      </div>
      <div class="mb-3">
        <input class="form-control" formControlName="password_confirmation" type="password" placeholder="Repita la contraseña...">
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Añadir</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <app-footer class="min-vw-100"></app-footer>
</div>
