<div class="row min-vw-100 h-100 mt-5 d-flex justify-content-center">
  <div class="col-md-6 m-0 h-100">
    <!--Formulario-->
    <div class="row d-flex justify-content-center align-center">
      <div class="col-10 d-flex flex-column justify-content-center">

        <div class="alert alert-success" style="display: none;" role="alert">
          Usuario enviado con éxito, espere la confirmación de su moderador.
        </div>
        <div class="alert alert-danger" style="display: none;" role="alert">
          ¡Ha ocurrido un error!
        </div>

        <div>
          <h3>Crear Usuario</h3>
        </div>
        <!--Campos del formulario-->
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column justify-content-center">
          <!-- Input name -->
          <div class="mb-3">
            <input class="form-control" formControlName="name" type="text"
              placeholder="Nombre de usuario...">

              <div *ngIf="form.get('name')!.invalid && form.get('name')!.errors && (form.get('name')!.dirty || form.get('name')!.touched)">
                <small class="text-danger" *ngIf="form.get('name')!.hasError('required')">Debe indicar un nombre</small>
                <small class="text-danger" *ngIf="form.get('name')!.hasError('maxlength')">El nombre debe tener menos de 20 caracteres</small>
                <small class="text-danger" *ngIf="form.get('name')!.hasError('minlength')">El nombre debe tener al menos 4 caracteres</small>
              </div>
          </div>
          <!-- Input real_name -->
          <div class="mb-3">
            <input class="form-control" formControlName="real_name" type="text" placeholder="Nombre real...">
            <div *ngIf="form.get('real_name')!.invalid && form.get('real_name')!.errors && (form.get('real_name')!.dirty || form.get('real_name')!.touched)">
              <small class="text-danger" *ngIf="form.get('real_name')!.hasError('required')">Debe indicar un nombre real</small>
              <small class="text-danger" *ngIf="form.get('real_name')!.hasError('maxlength')">El nombre real debe tener menos de 50 caracteres</small>
              <small class="text-danger" *ngIf="form.get('real_name')!.hasError('minlength')">El nombre real debe tener al menos 4 caracteres</small>
            </div>
          </div>
          <!-- Input ID Asociacion -->
          <div class="mb-3">
            <label for="id_usuario">ID asociación</label>
            <select class="form-control custom-select" id="id_asociacion" formControlName="id_asociacion"
              [(ngModel)]="user.id">
              <option *ngFor="let usr of asociaciones" value="{{ usr.id }}"> {{ usr.id }} {{ usr.nombre }}
              </option>
            </select>
            <div *ngIf="form.get('id_asociacion')!.invalid && form.get('id_asociacion')!.errors && (form.get('id_asociacion')!.dirty || form.get('id_asociacion')!.touched)">
              <small class="text-danger" *ngIf="form.get('id_asociacion')!.hasError('required')">Debe indicar un ID de asociación</small>
            </div>
          </div>
          <!-- Input Email -->
          <div class="mb-3">
            <input class="form-control" formControlName="email" type="text" placeholder="E-mail...">

            <div *ngIf="form.get('email')!.invalid && form.get('email')!.errors && (form.get('email')!.dirty || form.get('email')!.touched)">
              <small class="text-danger" *ngIf="form.get('email')!.hasError('required')">Debe indicar una dirección de email</small>
              <small class="text-danger" *ngIf="form.get('email')!.errors?.email">Debe indicar una dirección de email válido</small>
            </div>
          </div>
          <!-- Input Password -->
          <div class="mb-3">
            <input class="form-control" formControlName="password" type="password"
              placeholder="Contraseña...">

              <div *ngIf="form.get('password')!.invalid && form.get('password')!.errors && (form.get('password')!.dirty || form.get('password')!.touched)">
                <small class="text-danger" *ngIf="form.get('password')!.hasError('required')">Debe indicar la contraseña</small>
                <small class="text-danger" *ngIf="form.get('password')!.hasError('minlength')">La contraseña debe tener al menos 8 caracteres</small>
              </div>
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Añadir</button>
          </div>
        </form>
      </div>
    </div>

    <div class="col w-70 d-flex justify-content-center" style="margin-top: 1em;">
      <a routerLink="../" class="btn info-btn-usr" type="button">Atrás</a>
    </div>
  </div>
</div>
