<div class="container-fluid blue-bg-snowmasher d-flex">
  <div style="background-color: cornsilk; width: 7em; height: 7em; margin: 10px; text-align: center; margin-left: 3em;">
    <p>IMAGEN Usuario</p>
  </div>
  <div class="col" style="margin: 10px;">
    <h4 class="text-white">Nombre Usuario</h4>
    <h6 class="text-white">Nombre Asociacion</h6>
    <h6 class="text-white">Ejemplares: </h6>
  </div>
  <div class="col w-70 d-flex justify-content-end" style="margin: 10px;">
    <input class="btn btn-warning asoc-btn" type="button" value="Ir a Asociación">
  </div>
</div>
