<div class="row min-vw-100 d-flex justify-content-center">
  <app-navbar class="col p-0" style="max-height: 4em; margin-bottom: 1em;"></app-navbar>
</div>
<div class="row">
  <app-info-bar-user class="col"></app-info-bar-user>
</div>
<div class="row d-flex justify-content-center">
  <div style="min-width: 85%; max-width: 90%;">
    <div class="container-fluid mt-3">
      <div class="row mr-3 d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button routerLink="./registerMod" type="button" class="btn btn-success"
            style="padding: 0.2em 4em;">Alta</button>
        </div>
      </div>

      <!--TABLA-->
      <div class="row mt-2 mb-2 min-vw-90 d-flex justify-content-center table-responsive-sm">

        <table id="tabla" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover w-100">
          <thead class="table-dark">
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Name</th>
              <th scope="col">Nombre real</th>
              <th scope="col">Email</th>
              <th scope="col">ID Asociación</th>
              <th scope="col">Editar</th>
              <th scope="col">Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let miembro of moderadores">
              <th style="font-family: monospace;" scope="row"><a routerLink="/principal/user/{{ miembro.id }}">{{ miembro.id }}</a></th>
              <td style="font-family: monospace;" scope="row"><a routerLink="/principal/user/{{ miembro.id }}">{{ miembro.name }}</a></td>
              <td>{{ miembro.real_name }}</td>
              <td>{{ miembro.email }}</td>
              <td>{{ miembro.id_asociacion }}</td>
              <td>
                <span class="d-flex justify-content-center">
                  <a title="Editar" routerLink="/panel/adminMod/updateMod/{{ miembro.id }}">
                    <i class="fas fa-edit"></i>
                  </a>
                </span>
              </td>
              <td>
                <span class="d-flex justify-content-center">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn" data-toggle="modal" [attr.data-target]="'#modalBorrar'+miembro.id">
                    <i class="fas fa-trash"></i>
                  </button>
                </span>

                <!-- Modal -->
                <div class="modal fade" id="modalBorrar{{ miembro.id }}" tabindex="-1" role="dialog"
                  aria-labelledby="ModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Dar de baja</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ¿Está seguro de dar de baja a {{ miembro.real_name}}?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" (click)="borrar(miembro.id)">Borrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <app-loader id="loader"></app-loader>

      </div>

      <div class="col w-70 d-flex justify-content-center" style="margin-top: 1em;">
        <a routerLink="../" class="btn info-btn-usr" type="button">Atrás</a>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <app-footer class="min-vw-100"></app-footer>
</div>
