<div class="container-fluid mb-3 p-0">
  <app-navbar class="col p-0" style="max-height: 4em;"></app-navbar>
</div>
<div class="container-fluid p-0">
  <app-info-bar class="col p-0"></app-info-bar>
</div>
<!--Formulario-->
<div class="container-fluid mh-50 h-50 d-flex justify-content-center align-center">
  <div class="col-10 d-flex flex-column justify-content-center">

    <div class="alert alert-success" style="display: none;" role="alert">
      Asociación creada con exito
    </div>
    <div class="alert alert-danger" style="display: none;" role="alert">
      ¡Ha ocurrido un error!
    </div>

    <div>
      <h3>Crear Asociación</h3>
    </div>
    <!--Campos del formulario-->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column justify-content-center">
      <div class="mb-3">
        <input class="form-control" formControlName="nombre" type="text" placeholder="Nombre de asociación...">
      </div>
      <div class="mb-3">
        <input class="form-control" formControlName="url_img" type="text" placeholder="URL de imagen...">
      </div>
      <div class="mb-3">
        <select  formControlName="id_mod" class="browser-default custom-select">
          <option selected="selected">ID Moderador</option>
          <option *ngFor="let mod of moderadores" value="{{ mod.id }}">{{ mod.id }} {{mod.name}}</option>
        </select>
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Añadir</button>
      </div>
    </form>
  </div>
</div>

<div class="col w-70 d-flex justify-content-center" style="margin-top: 1em;">
  <a routerLink="../" class="btn info-btn-usr" type="button">Atrás</a>
</div>

<div class="container-fluid p-0">
  <app-footer class="col p-0"></app-footer>
</div>
