<div class="container-fluid mb-3 p-0">
  <app-navbar class="col p-0" style="max-height: 4em;"></app-navbar>
</div>
<div class="container-fluid p-0">
  <app-info-bar-user class="col p-0"></app-info-bar-user>
</div>

<div class="container-fluid p-0">

  <div class="container p-0 mt-4 border darkblue-border-snowmasher" style="min-height: 20em;">
    <div class="container-fluid darkblue-bg-snowmasher text-light p-2 d-flex" style="min-height: 5em;">
      <div class="col-6  d-flex flex-column">
        <h4>Nº de anilla: {{ canario.anilla }}</h4>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">

          <button *ngIf="canario.id_usuario === myUser" type="button" style="border: 1px solid var(--blue);"
            routerLink="../update/{{ canario.id }}" class="btn btn-table-ee">Editar</button>

          <button data-toggle="modal" [attr.data-target]="'#modalIntercambio'+canario.id"
            *ngIf="canario.id_usuario !== myUser" type="button" style="border: 1px solid var(--blue);"
            class="btn btn-table-ee">Intercambiar</button>

          <!-- Button trigger modal -->
          <button *ngIf="canario.id_usuario === myUser" type="button" class="btn btn-danger" data-toggle="modal"
            [attr.data-target]="'#modalBorrar'+canario.id">
            Borrar
          </button>

        </div>
      </div>
    </div>
    <div class="container-fluid p-0 d-lg-flex flex-row">

      <div class="col col-lg-6 p-4">
        <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <td scope="row"><b>Sexo:</b> {{ canario.sexo }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Nº anilla del padre:</b> {{ canario.anillaPadre }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Nº anilla de la madre:</b> {{ canario.anillaMadre }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Fª de nacimiento:</b> {{ canario.nacimiento }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Fª de creación:</b> {{ canario.creacion | date: 'yyyy-MM-dd | HH:mm' }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Fª última modificación:</b> {{ canario.modificacion | date: 'yyyy-MM-dd | HH:mm' }}
              </td>
            </tr>
            <tr>
              <td scope="row"><b>Fª de baja:</b> {{ canario.baja }}</td>
            </tr>

          </tbody>
        </table>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="modalBorrar{{ canario.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Dar de baja</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ¿Está seguro de dar de baja a {{ canario.anilla }}?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger" (click)="borrar(canario.id)">Borrar</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-lg-6 p-4 d-none d-lg-flex" *ngIf="canario.url_img">
        <div>

          <div style="margin: 10px; text-align: center;">
            <img class="img img-fluid img-thumbnail" src="{{ canario.url_img }}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col w-70 d-flex justify-content-center" style="margin-top: 1em;">
  <a routerLink="../" class="btn info-btn-usr" type="button" *ngIf="canario.id_usuario === myUser">Atrás</a>
  <a routerLink="../user/{{ canario.id_usuario }}" class="btn info-btn-usr" type="button"
    *ngIf="canario.id_usuario !== myUser">Atrás</a>
</div>

<!-- Modal -->
<div class="modal fade" id="modalIntercambio{{ canario.id }}" tabindex="-1" role="dialog"
aria-labelledby="ModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="ModalLabel">Intercambio</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      ¿Está seguro de solicitar el intercambio de <b>{{ canario.anilla }}?</b>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <button type="button" class="btn blue-bg-snowmasher text-white"
        (click)="intercambiar(canario.id, canario.id_usuario)">Solicitar</button>
    </div>
  </div>
</div>
</div>

<div class="footer container-fluid p-0 ">
  <app-footer class="col p-0"></app-footer>
</div>
