<div class="row min-vw-100 d-flex justify-content-center">
  <app-navbar class="min-vw-100" style="max-height: 4em; margin-bottom: 1em;"></app-navbar>
</div>
<div class="row">
  <app-info-bar-user class="min-vw-100 d-flex justify-content-center"></app-info-bar-user>
</div>

<div class="row">
  <div class="container mt-4 border darkblue-border-snowmasher" style="min-height: 20em;">
    <div class="row darkblue-bg-snowmasher text-light p-2" style="min-height: 5em;">
      <div class="col-6  d-flex flex-column">
        <h4>{{ canario.anilla }}</h4>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" style="border: 1px solid var(--blue);" class="btn btn-table-ee">Editar</button>
          <button type="button" style="border: 1px solid var(--blue);" class="btn btn-table-ee">Intercambiar</button>
          <button type="button" class="btn btn-danger">Baja</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 p-4">
        <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <td scope="row"><b>Sexo:</b> {{ canario.sexo }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Nº anilla del padre:</b> {{ canario.anillaPadre }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Nº anilla de la madre:</b> {{ canario.anillaMadre }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Fª de nacimiento:</b> {{ canario.nacimiento }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Fª de creación:</b> {{ canario.creacion }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Fª última modificación:</b> {{ canario.modificacion }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Fª de baja:</b> {{ canario.baja }}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-6 p-4">
        <div>
          <div style="background-color: cornsilk; width: 28em; height: 24em; margin: 10px; text-align: center;">
            <p>IMAGEN CANARIO</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <app-footer class="min-vw-100 d-flex justify-content-center"></app-footer>
</div>
