<div class="container-fluid d-flex flex-row p-0" style="height: 100vh;">
  <!--Imagen del login-->
  <div class="col-md-6 m-0 h-100 bg-cover d-none d-md-block"></div>

  <!--Login-->
  <div class="col-md-6 m-0 h-100">
    <!--Formulario-->
    <div class="container-fluid mh-50 h-50 d-flex justify-content-center align-center">
      <div class="col-10 d-flex flex-column justify-content-center">
        <div>
          <h3>Iniciar sesión</h3>
        </div>
        <!--Campos del formulario-->
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column justify-content-center">
          <div class="mb-3">
            <input class="form-control" formControlName="email" type="text" placeholder="Email...">
            <div *ngIf="form.get('email')!.invalid && form.get('email')!.errors && (form.get('email')!.dirty || form.get('email')!.touched)">
              <small class="text-danger" *ngIf="form.get('email')!.hasError('required')">Debe indicar una dirección de email</small>
              <small class="text-danger" *ngIf="form.get('email')!.errors?.email">Debe indicar una dirección de email válido</small>
            </div>
          </div>
          <div class="mb-3">
            <input class="form-control" formControlName="password" type="password" placeholder="contraseña...">
            <div *ngIf="form.get('password')!.invalid && form.get('password')!.errors && (form.get('password')!.dirty || form.get('password')!.touched)">
              <small class="text-danger" *ngIf="form.get('password')!.hasError('required')">Debe indicar la contraseña</small>
            </div>
          </div>

          <div class="alert alert-danger mt-2"  style="display: none;" role="alert">
            ¡Ha ocurrido un error!
          </div>

          <!-- Botones inferiores -->
          <div class="mb-3 d-flex justify-content-between">
              <a class="mt-3 mt-lg-0 mr-lg-4" routerLink="/registerUser">Registrarse</a>
              <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Entrar</button>
          </div>
        </form>
      </div>
    </div>

    <!--Advertencia inferior-->
    <div class="container-fluid mh-50 h-50  d-flex justify-content-center align-items-end">
      <div class="col-8 text-center">
        <p style="font-size: 0.8em; color: grey;">Si no posee un usuario regístrese y espere la aceptacón del moderador de su asociación</p>
      </div>
    </div>
  </div>
</div>
