<div class="container-fluid mb-3 p-0">
  <app-navbar class="col p-0" style="max-height: 4em;"></app-navbar>
</div>
<div class="container-fluid p-0">
  <app-info-bar class="col p-0"></app-info-bar>
</div>
<!--Formulario-->
<div class="container-fluid mh-50 h-50 d-flex justify-content-center align-center">
  <div class="col-10 d-flex flex-column justify-content-center">

    <div class="alert alert-success" style="display: none;" role="alert">
      Canario creado con exito
    </div>
    <div class="alert alert-danger" style="display: none;" role="alert">
      ¡Ha ocurrido un error!
    </div>

    <div>
      <h3>Crear Canario</h3>
    </div>
    <!--Campos del formulario-->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column justify-content-center">
      <div class="mb-3">
        <label for="num_anilla">Nº de anilla</label>
        <input class="form-control" id="num_anilla" formControlName="num_anilla" type="text" placeholder="Nº de anilla">
        <div *ngIf="form.get('num_anilla')!.invalid && form.get('num_anilla')!.errors && (form.get('num_anilla')!.dirty || form.get('num_anilla')!.touched)">
          <small class="text-danger" *ngIf="form.get('num_anilla')!.hasError('required')">Debe indicar un número de anilla</small>
          <small class="text-danger" *ngIf="form.get('num_anilla')!.hasError('maxlength')">El número de anilla debe de tener 12 caracteres</small>
          <small class="text-danger" *ngIf="form.get('num_anilla')!.hasError('minlength')">El número de anilla debe de tener 12 caracteres</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="num_anilla_padre">Nº de anilla padre</label>
        <input class="form-control" id="num_anilla_padre" formControlName="num_anilla_padre" type="text" placeholder="Nº de anilla padre">
        <div *ngIf="form.get('num_anilla_padre')!.invalid && form.get('num_anilla_padre')!.errors && (form.get('num_anilla_padre')!.dirty || form.get('num_anilla_padre')!.touched)">
          <small class="text-danger" *ngIf="form.get('num_anilla_padre')!.hasError('maxlength')">El número de anilla debe de tener 12 caracteres</small>
          <small class="text-danger" *ngIf="form.get('num_anilla_padre')!.hasError('minlength')">El número de anilla debe de tener 12 caracteres</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="num_anilla">Nº de anilla madre</label>
        <input class="form-control" id="num_anilla_madre" formControlName="num_anilla_madre" type="text" placeholder="Nº de anilla madre">
        <div *ngIf="form.get('num_anilla_madre')!.invalid && form.get('num_anilla_madre')!.errors && (form.get('num_anilla_madre')!.dirty || form.get('num_anilla_madre')!.touched)">
          <small class="text-danger" *ngIf="form.get('num_anilla_madre')!.hasError('maxlength')">El número de anilla debe de tener 12 caracteres</small>
          <small class="text-danger" *ngIf="form.get('num_anilla_madre')!.hasError('minlength')">El número de anilla debe de tener 12 caracteres</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="url_img">URL de imagen</label>
        <input class="form-control" id="url_img" formControlName="url_img" type="text" placeholder="URL de imagen">
      </div>
      <div class="mb-3">
        <label for="sexo">Sexo</label>
        <select id="sexo" class="form-control custom-select" formControlName="sexo">
          <option selected>Sexo:</option>
          <option value="H">Hembra</option>
          <option value="M">Macho</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="fecha_nacimiento">Fª de Nacimiento</label>
        <input class="form-control" id="fecha_nacimiento" formControlName="fecha_nacimiento" type="date">
        <div *ngIf="form.get('fecha_nacimiento')!.invalid && form.get('fecha_nacimiento')!.errors && (form.get('fecha_nacimiento')!.dirty || form.get('fecha_nacimiento')!.touched)">
          <small class="text-danger" *ngIf="form.get('fecha_nacimiento')!.hasError('required')">Debe indicar una fecha de nacimiento</small>
        </div>
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Añadir</button>
      </div>
    </form>
  </div>
</div>

<div class="col w-70 d-flex justify-content-center" style="margin-top: 1em;">
  <a routerLink="../" class="btn info-btn-usr" type="button">Atrás</a>
</div>

<div class="footer container-fluid p-0 ">
  <app-footer class="col p-0"></app-footer>
</div>
