<div class="container-fluid mt-3">
  <div class="row mr-3 d-flex justify-content-end">

    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" routerLink="./create" class="btn btn-success" style="padding: 0.2em 4em;">Alta</button>
    </div>
  </div>

  <!--TABLA-->
  <div class="row mt-2 mb-2 min-vw-90 d-flex justify-content-center table-responsive-sm">

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Nº Anilla</th>
          <th scope="col">Sexo</th>
          <th scope="col">Fª de Nacimiento</th>
          <th scope="col">Nº Anilla Padre</th>
          <th scope="col">Nº Anilla Madre</th>
          <th scope="col">Editar</th>
          <th scope="col">Intercambiar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let canario of canarios">
          <th style="font-family: monospace;" scope="row"><a routerLink="./{{ canario.id }}">{{ canario.anilla }}</a>
          </th>
          <th style="font-family: monospace; text-align: center;" scope="row">{{ canario.sexo }}</th>
          <td style="font-family: monospace;" scope="row">{{ canario.nacimiento }}</td>
          <td style="font-family: monospace;" scope="row">{{ canario.anillaPadre }}</td>
          <td style="font-family: monospace;" scope="row">{{ canario.anillaMadre }}</td>
          <td>
            <span class="d-flex justify-content-center">
              <a title="Editar" routerLink="./update/{{ canario.id }}">
                <i class="fas fa-edit"></i>
              </a>
            </span>
          </td>
          <td>
            <span class="d-flex justify-content-center">
              <a title="Intercambiar" routerLink="">
                <i class="fas fa-exchange-alt"></i>
              </a>
            </span>
          </td>
          <td>
            <span class="d-flex justify-content-center">
              <a title="Borrar" routerLink="">
                <i class="fas fa-trash"></i>
              </a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
