<div class="container-fluid mt-3">
  <div class="row mr-3 d-flex justify-content-end">
    <div class="dropdown mr-5">
      <a class="btn btn-secondary dropdown-toggle" href="/canarios" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Ordenar por:
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Nº Anilla (descendente)</a></li>
        <li><a class="dropdown-item" href="#">Nº Anilla (ascendente)</a></li>
        <li><a class="dropdown-item" href="#">Fª Nacim (descendente)</a></li>
        <li><a class="dropdown-item" href="#">Fª Nacim (ascendente)</a></li>
      </ul>
    </div>

    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-success">Alta</button>
      <button type="button" class="btn btn-table-ee">Editar</button>
      <button type="button" class="btn btn-table-ee">Intercambiar</button>
      <button type="button" class="btn btn-danger">Baja</button>
    </div>
  </div>

  <!--TABLA-->
  <div class="row mt-2 mb-2 min-vw-90">

    <table class="table table-hover table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Nº Anilla</th>
          <th scope="col">Sexo</th>
          <th scope="col">Fª de Nacimiento</th>
          <th scope="col">Nº Anilla Padre</th>
          <th scope="col">Nº Anilla Madre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let canario of canarios">
          <th style="font-family: monospace;" scope="row"><a routerLink="./{{ canario.id }}">{{ canario.anilla }}</a></th>
          <th style="font-family: monospace; text-align: center;" scope="row">{{ canario.sexo }}</th>
          <td style="font-family: monospace;" scope="row">{{ canario.nacimiento }}</td>
          <td style="font-family: monospace;" scope="row">{{ canario.anillaPadre }}</td>
          <td style="font-family: monospace;" scope="row">{{ canario.anillaMadre }}</td>
        </tr>
        <tr>
      </tbody>
    </table>

  </div>

  <div class="row">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-primary">1</button>
        <button type="button" class="btn btn-primary">2</button>
        <button type="button" class="btn btn-primary">3</button>
        <button type="button" class="btn btn-primary">4</button>
      </div>
    </div>
  </div>
</div>
