<div class="row blue-bg-snowmasher" style="max-width: inherit;">

  <div class="col-sm-2 d-none d-sm-block" style="width: 16rem; height: 9rem; margin: 10px; text-align: center;">
    <img *ngIf="asociacion.url_img" class="img img-responsive img-thumbnail"
      style="max-height: 10rem; min-height: 8rem; margin: 1rem; margin-left: 3rem;" src="{{ asociacion.url_img }}">
  </div>

  <div class="col-12 col-sm-3" style="margin: 10px;">
    <h4 class="text-white ml-4 ml-sm-1">{{ asociacion.nombre }}</h4>
  </div>

  <div class="col-12 col-sm-12 d-flex justify-content-end" style="margin: 10px;">
    <a class="btn info-btn-usr asoc-btn" routerLink="/principal">Publicaciones</a>
    <a class="btn info-btn-usr asoc-btn" routerLink="/principal/miembros">Miembros</a>
  </div>

</div>
