<div class="row min-vw-100 h-100 d-flex justify-content-center">
  <!--Imagen del login-->
  <div class="col-md-6 m-0 h-100 min-vw-50 mw-50 bg-cover"></div>

  <!--Login-->
  <div class="col-md-6 m-0 h-100">
    <!--Formulario-->
    <div class="row mh-50 h-50 d-flex justify-content-center align-center">
      <div class="col-10 d-flex flex-column justify-content-center">
        <div>
          <h3>Iniciar sesión</h3>
        </div>
        <!--Campos del formulario-->
        <form class="d-flex flex-column justify-content-center">
          <div class="mb-3">
            <input class="form-control" type="text" placeholder="Usuario...">
          </div>
          <div class="mb-3">
            <input class="form-control" type="text" placeholder="contraseña...">
          </div>
          <div class="mb-3 d-flex justify-content-between">
            <a href="" style="font-size: 0.9em;">Olvidé mi contraseña</a>
            <input type="button" class="btn btn-primary" value="Entrar">
          </div>
        </form>
      </div>
    </div>

    <!--Advertencia inferior-->
    <div class="row mh-50 h-50  d-flex justify-content-center align-items-end">
      <div class="col-8 text-center">
        <p style="font-size: 0.8em; color: grey;">Si no posee un usuario póngase en contacto  con el moderador de su asociación</p>
      </div>
    </div>
  </div>
</div>
