<div class="container-fluid pt-1 pb-1 blue-bg-snowmasher d-flex flex-row" *ngIf="user.rol=='U'; else noUser">

  <!-- Imagen -->
  <div class="col col-md-3 col-lg-2 d-none d-md-flex justify-content-center">
    <img class="img img-responsive"
      style="max-height: 10rem; margin: 1rem; ;" src="../../assets/img/icons/UsersAvatar/user.png">
  </div>

  <!-- Cuerpo principal -->
  <div class="col col-md-9 col-lg-10 pt-2 pb-2 d-flex flex-column">
    <div class="container-fluid">
      <h4 class="text-white ml-md-1">{{ user.name }}</h4>
    </div>

    <div class="container-fluid d-flex justify-content-end">
      <a routerLink="/notificaciones" class="btn info-btn-usr mr-1" type="button">Notificaciones</a>
      <a routerLink="/principal" class="btn info-btn-usr" type="button">Ir a Asociación</a>
    </div>
  </div>
</div>

<ng-template #noUser>
  <div class="container-fluid pt-1 pb-1 orange-bg-snowmasher d-flex flex-row" *ngIf="user.rol=='M'; else Admin">

    <!-- Imagen -->
    <div class="col col-md-3 col-lg-2 d-none d-md-flex justify-content-center">
      <img class="img img-responsive"
        style="max-height: 10rem; min-height: 8rem; margin: 1rem; ;" src="../../assets/img/icons/UsersAvatar/mod.png">
    </div>

    <!-- Cuerpo principal -->
    <div class="col col-md-9 col-lg-10 pt-2 pb-2 d-flex flex-column">
      <div class="container-fluid">
        <h4 class="text-white ml-md-1">{{ user.name }}</h4>
      </div>

      <div class="container-fluid d-flex justify-content-end">
        <a routerLink="/notificaciones" class="btn info-btn-adm-mod mr-1" type="button">Notificaciones</a>
        <a routerLink="/principal" class="btn info-btn-adm-mod" type="button">Ir a Asociación</a>
      </div>
    </div>
  </div>

  <ng-template #Admin>
    <div class="container-fluid pt-1 pb-1 red-bg-snowmasher d-flex flex-row" *ngIf="user.rol=='A'">

    <!-- Imagen -->
    <div class="col col-md-3 col-lg-2 d-none d-md-flex justify-content-center">
      <img class="img img-responsive"
        style="max-height: 10rem; min-height: 8rem; margin: 1rem;" src="../../assets/img/icons/UsersAvatar/admin.png">
    </div>

    <!-- Cuerpo principal -->
    <div class="col col-md-9 col-lg-10 pt-2 pb-2 d-flex flex-column">
      <div class="container-fluid">
        <h4 class="text-white ml-md-1">{{ user.name }}</h4>
      </div>

      <div class="container-fluid d-flex justify-content-end">
        <a routerLink="/principal" class="btn info-btn-adm-mod" type="button">Ir a Asociación</a>
      </div>
    </div>
  </div>
  </ng-template>

</ng-template>
