<!-- Navbar -->
<div class="container-fluid mb-3 p-0">
  <app-navbar class="col p-0" style="max-height: 4em;"></app-navbar>
</div>

<!-- Info bar -->
<div class="container-fluid p-0">
  <app-info-bar-user class="col p-0"></app-info-bar-user>
</div>

<!-- Botones usuario -->
<div class="container-fluid p-0" *ngIf="user.rol=='U'; else noUser">

</div>

<!-- Botones moderador -->
<ng-template #noUser>
  <div class="container-fluid p-0" *ngIf="user.rol=='M'; else Admin">
    <app-action-buttons-mod class="col p-0"></app-action-buttons-mod>
  </div>
</ng-template>

<!-- Botones de moderador -->
<ng-template #Admin>
  <div class="container-fluid p-0">
    <app-action-buttons-adm class="col p-0"></app-action-buttons-adm>
  </div>
</ng-template>

<!-- footer -->
<div class="container-fluid p-0">
  <app-footer class="col p-0"></app-footer>
</div>
