<div class="container-fluid mb-3 p-0">
  <app-navbar class="col p-0" style="max-height: 4em;"></app-navbar>
</div>
<div class="container-fluid p-0">
  <app-info-bar-user class="col p-0"></app-info-bar-user>
</div>
<div class="container-fluid p-0">
  <div class="container-fluid mt-3">
    <h4 class="text-center">Notificaciones</h4>
      <!--TABLA-->
      <div class="container-fluid mt-2 mb-2 min-vw-90 d-flex flex-column justify-content-center table-responsive">
        <table id="tabla" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover w-100">
          <thead class="table-dark">
            <tr>
              <th scope="col">#ID</th>
              <th scope="col">Desde:</th>
              <th scope="col">Tipo:</th>
              <th scope="col">Fª Creación</th>
              <th scope="col">Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let not of notificaciones">
              <th style="font-family: monospace;" scope="row"><a routerLink="/principal/notificacion/{{ not.id }}">{{ not.id }}</a></th>
              <td *ngIf="not.id_from === 1" style="font-family: monospace;" scope="row">Admin</td>
              <td *ngIf="not.id_from !== 1" style="font-family: monospace;" scope="row">{{ not.id_from }}</td>
              <td *ngIf="not.tipo === 'U'">Nuevo Usuario</td>
              <td *ngIf="not.tipo === 'I'">Intercambio</td>
              <td>{{ not.created_at | date: 'dd-MM-YYYY | HH:mm'}}</td>
              <td>
                <span class="d-flex justify-content-center">
                  <!-- Button trigger modal -->
                  <button type="button" class="btn" data-toggle="modal" [attr.data-target]="'#modalBorrar'+not.id">
                    <i class="fas fa-trash"></i>
                  </button>
                </span>

                <!-- Modal -->
                <div class="modal fade" id="modalBorrar{{ not.id }}" tabindex="-1" role="dialog"
                  aria-labelledby="ModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Borrar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        ¿Está seguro de borrar la notificación?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" (click)="borrar(not.id)">Borrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <app-loader id="loader"></app-loader>

      </div>

      <div class="col w-70 d-flex justify-content-center" style="margin-top: 1em;">
        <a routerLink="/panel" class="btn info-btn-usr" type="button">Atrás</a>
      </div>
    </div>
</div>

<!-- Footer -->
<div class="container-fluid p-0">
  <app-footer class="col p-0"></app-footer>
</div>
