<div class="row min-vw-100 d-flex justify-content-center">
  <app-navbar class="col p-0" style="max-height: 4em; margin-bottom: 1em;"></app-navbar>
</div>
<div class="row">
  <app-info-bar-user class="col p-0"></app-info-bar-user>
</div>

<div class="row">
  <div class="container mt-4 border darkblue-border-snowmasher" style="min-height: 20em;">
    <div class="row darkblue-bg-snowmasher text-light p-2" style="min-height: 5em;">
      <div class="col-6  d-flex flex-column">
        <h4>{{ user.name }}</h4>
        <h6>ID: {{ user.id }}</h6>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" routerLink="/canarios/user/{{ user.id }}" style="border: 1px solid var(--blue);"
            class="btn btn-table-ee" *ngIf="user.rol === 'U' || user.rol === 'M'">Canarios</button>
          <button type="button" routerLink="/panel/adminUser/updateUser/{{ user.id }}"
            style="border: 1px solid var(--blue);" class="btn btn-table-ee"
            *ngIf="user.rol === 'U' && user.id_asociacion === myAsoc">Editar</button>
          <button type="button" routerLink="/panel/adminMod/updateMod/{{ user.id }}"
            style="border: 1px solid var(--blue);" class="btn btn-table-ee"
            *ngIf="user.rol === 'M' && myUser === 1">Editar</button>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger"
            *ngIf="(user.rol !== 'A' && myUser === 1) || (user.id_asociacion === myAsoc && user.rol !== 'M')"
            data-toggle="modal" [attr.data-target]="'#modalBorrar'+user.id">
            Borrar
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col p-4">
        <table class="table table-hover table-bordered info-t">
          <tbody>
            <tr>
              <td scope="row"><b>Nombre real:</b> {{ user.real_name }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Rol:</b> {{ user.rol }}</td>
            </tr>
            <tr>
              <td scope="row" *ngIf="user.rol !== 'A'"><b>ID Asociación:</b> {{ user.id_asociacion }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Email:</b> {{ user.email }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Creado:</b> {{ user.created_at | date: 'yyyy-MM-dd | HH:mm' }}</td>
            </tr>
            <tr>
              <td scope="row"><b>Modificado:</b> {{ user.updated_at | date: 'yyyy-MM-dd | HH:mm' }}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalBorrar{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Dar de baja</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro de dar de baja a {{ user.name }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="borrar(user.id)">Borrar</button>
      </div>
    </div>
  </div>
</div>

<div class="col w-70 d-flex justify-content-center" style="margin-top: 1em;" *ngIf="user.rol === 'U'">
  <a routerLink="/panel/adminUser" class="btn info-btn-usr" type="button">Atrás</a>
</div>

<div class="col w-70 d-flex justify-content-center" style="margin-top: 1em;" *ngIf="user.rol === 'M'">
  <a routerLink="/panel/adminMod" class="btn info-btn-usr" type="button">Atrás</a>
</div>

<div class="col w-70 d-flex justify-content-center" style="margin-top: 1em;" *ngIf="user.rol === 'A'">
  <a routerLink="/panel" class="btn info-btn-usr" type="button">Atrás</a>
</div>

<div class="row">
  <app-footer class="col p-0"></app-footer>
</div>
