:root{
  --lightblue: rgb(55, 161, 223);
  --blue: rgb(1, 130, 204);
  --darkblue: rgb(0, 96, 141);
  --lightorange: rgb(223, 144, 98);
  --orange: rgb(219, 108, 44);
  --red: rgb(165, 52, 23);
}

/*--blue: rgb(0, 113, 141);*

/*Para la imagen del login*/
.bg-cover{
  width: 100%;
  height: 100%;
  background: url("./assets/img/login/dibujoLogin.jpeg") no-repeat center;
  background-size: cover;
}

/*Para los inputs cuadrados*/
input, input[type="text"]{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px ;
  border-radius: 2px ;
  border-width: 2px 2px 2px 2px;
  padding: 10px;
}
input, input[type="password"]{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px ;
  border-radius: 2px ;
  border-width: 2px 2px 2px 2px;
  padding: 10px;
}
/*Para los botones cuadrados*/
input, input[type="button"], button[type=submit]{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px ;
  border-radius: 2px ;
  border-width: 2px 2px 2px 2px;
  padding: 10px;
}

/*Para los botones cuadrados*/
button, button[type="button"]{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px ;
  border-radius: 2px ;
  border-width: 2px 2px 2px 2px;
  padding: 10px;
}

/*Ampliar tamaño de letra navbar*/
.nav-link{
  font-size: large;
}

.userNavLink:hover{
  text-decoration: none;
}

.asoc-btn{
  height: 2.7em;
  margin-left: 1em;
}

/*BACKGROUNDS*/

.blue-bg-snowmasher{
  background-color: var(--blue);
}

button[class*="blue-bg-snowmasher"]:hover{
  background-color: var(--darkblue);
  border: 1px white solid;
}

.darkblue-bg-snowmasher{
  background-color: var(--darkblue);
}

.orange-bg-snowmasher{
  background-color: var(--orange);
}

.red-bg-snowmasher{
  background-color: var(--red);
}

/*BORDERS*/
.blue-border-snowmasher{
  border: 1px solid var(--blue);
}

.darkblue-border-snowmasher{
  border: 1px solid var(--darkblue);
}

.orange-border-snowmasher{
  border: 1px solid var(--orange);
}

/*Para los botones cuadrados de los InfoBar*/
a, a[routerLink], a[class="btn"]{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px ;
  border-radius: 2px ;
  border-width: 2px 2px 2px 2px;
}


.info-btn-adm-mod{
  background-color: var(--darkblue);
  border-color: var(--darkblue);
  color: white;
  height: fit-content;
}

.info-btn-adm-mod:hover{
  background-color: var(--blue);
  color: white;
}


.info-btn-usr{
  background-color: var(--orange);
  border-color: var(--orange);
  color: white;
  height: fit-content;
}

.info-btn-usr:hover{
  background-color: var(--lightorange);
}

.btn-table-ee{
  background-color: var(--darkblue);
  border-color: var(--darkblue);
  color: white;
}

.btn-table-ee:hover{
  background-color: var(--blue);
  color: white;
}


thead tr,thead tr:hover {
  background-color: #353c41 !important;
}


/*Botones rojos de Delete (Trash) Tablas*/
.fa-trash{
  color: var(--red);
}

/*Botones Editar e Intercambio Tablas*/

.fa-exchange-alt, .fa-edit{
  color: var(--darkblue);
}


/*Tablas*/
@media (max-width: 768px) {
  table, *[id^="tabl"] {
    font-size: 0.85rem;
  }
}


table td {
  padding: 1.5em;
  text-align: center;
}

.info-t td{
  text-align: start;
}

.dataTables_wrapper{
  width: 100%;
}

/*Alerts*/
.alert{
  margin-top: 2em;
}

