<div class="col d-flex justify-content-around flex-wrap">
  <app-item-miembro style="max-width: 45%; min-width: 40%;"></app-item-miembro>
  <app-item-miembro style="max-width: 45%; min-width: 40%;"></app-item-miembro>
  <app-item-miembro style="max-width: 45%; min-width: 40%;"></app-item-miembro>
  <app-item-miembro style="max-width: 45%; min-width: 40%;"></app-item-miembro>
  <app-item-miembro style="max-width: 45%; min-width: 40%;"></app-item-miembro>
  <app-item-miembro style="max-width: 45%; min-width: 40%;"></app-item-miembro>
  <app-item-miembro style="max-width: 45%; min-width: 40%;"></app-item-miembro>
  <app-item-miembro style="max-width: 45%; min-width: 40%;"></app-item-miembro>
  <app-item-miembro style="max-width: 45%; min-width: 40%;"></app-item-miembro>
  <app-item-miembro style="max-width: 45%; min-width: 40%;"></app-item-miembro>
  <app-item-miembro style="max-width: 45%; min-width: 40%;"></app-item-miembro>
  <app-item-miembro style="max-width: 45%; min-width: 40%;"></app-item-miembro>
</div>
